In [1]:
import requests
import json
import pandas as pd

In [2]:
req = requests.get(
    'https://servicodados.ibge.gov.br/api/v1/paises/BR/indicadores/77821')

In [3]:
req

In [4]:
data = json.loads(req.content.decode('utf-8'))

In [5]:
type(data)

list

In [6]:
#extraindo o primeiro item(dict) de data
print(type(data[0]))

dict_data = data[0]

<class 'dict'>

In [7]:
dict_data

{'id': 77821,
 'indicador': 'Economia - Investimentos em pesquisa e desenvolvimento',
 'unidade': {'id': '% do PIB', 'classe': 'N', 'multiplicador': 1},
 'series': [{'pais': {'id': 'BR', 'nome': 'Brasil'},
   'serie': [{'-': None},
    {'1990': None},
    {'1990-1995': None},
    {'1995': None},
    {'1995-2000': None},
    {'1999-2001': None},
    {'2000': '1.002'},
    {'2000-2002': None},
    {'2000-2005': None},
    {'2001': '1.032'},
    {'2001-2003': None},
    {'2002': '0.977'},
    {'2002-2004': None},
    {'2003': '0.999'},
    {'2003-2005': None},
    {'2004': '0.963'},
    {'2004-2006': None},
    {'2005': '1.002'},
    {'2005-2007': None},
    {'2005-2010': None},
    {'2006': '0.988'},
    {'2006-2008': None},
    {'2007': '1.081'},
    {'2007-2009': None},
    {'2008': '1.129'},
    {'2008-2010': None},
    {'2009': '1.119'},
    {'2009-2011': None},
    {'2010': '1.160'},
    {'2010-2012': None},
    {'2010-2015': None},
    {'2011': '1.140'},
    {'2011-2013': None},
    {'2012': '1.127'},
    {'2012-2014': None},
    {'2013': '1.196'},
    {'2013-2015': None},
    {'2014': '1.271'},
    {'2014-2016': None},
    {'2015': '1.343'},
    {'2015-2017': None},
    {'2015-2020': None},
    {'2016': '1.264'},
    {'2016-2018': None},
    {'2017': '1.263'},
    {'2017-2019': None},
    {'2018': '99999999999998'},
    {'2019': None},
    {'2020': None}]}]}

In [8]:
dict_series = (dict_data.get('series')[0])

print(type(dict_series))
(dict_series)

<class 'dict'>

{'pais': {'id': 'BR', 'nome': 'Brasil'},
 'serie': [{'-': None},
  {'1990': None},
  {'1990-1995': None},
  {'1995': None},
  {'1995-2000': None},
  {'1999-2001': None},
  {'2000': '1.002'},
  {'2000-2002': None},
  {'2000-2005': None},
  {'2001': '1.032'},
  {'2001-2003': None},
  {'2002': '0.977'},
  {'2002-2004': None},
  {'2003': '0.999'},
  {'2003-2005': None},
  {'2004': '0.963'},
  {'2004-2006': None},
  {'2005': '1.002'},
  {'2005-2007': None},
  {'2005-2010': None},
  {'2006': '0.988'},
  {'2006-2008': None},
  {'2007': '1.081'},
  {'2007-2009': None},
  {'2008': '1.129'},
  {'2008-2010': None},
  {'2009': '1.119'},
  {'2009-2011': None},
  {'2010': '1.160'},
  {'2010-2012': None},
  {'2010-2015': None},
  {'2011': '1.140'},
  {'2011-2013': None},
  {'2012': '1.127'},
  {'2012-2014': None},
  {'2013': '1.196'},
  {'2013-2015': None},
  {'2014': '1.271'},
  {'2014-2016': None},
  {'2015': '1.343'},
  {'2015-2017': None},
  {'2015-2020': None},
  {'2016': '1.264'},
  {'2016-2018': None},
  {'2017': '1.263'},
  {'2017-2019': None},
  {'2018': '99999999999998'},
  {'2019': None},
  {'2020': None}]}

In [9]:
serie = dict_series['serie']

print(type(serie))

<class 'list'>

In [97]:
list_of_keys = list()
list_of_values = list()

for key in range(len(serie)):
    if list(serie[key].keys())[0] == '-':
        pass
    
    else:
        list_of_keys.append(list(serie[key].keys())[0])
    
for item in range(len(serie)):
    list_of_values.append(list(serie[item].values())[0])

In [103]:
list_of_values.pop(0)

In [104]:
len(list_of_keys)

48

In [105]:
len(list_of_values)

48

In [106]:
d = {'year' : list_of_keys, 'values' : list_of_values}

In [107]:
df = pd.DataFrame(d)

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    48 non-null     object
 1   values  19 non-null     object
dtypes: object(2)
memory usage: 896.0+ bytes

In [109]:
df.head()

        year values
0       1990   None
1  1990-1995   None
2       1995   None
3  1995-2000   None
4  1999-2001   None