In [1]:
import pandas as pd

In [2]:
import os
for dirname, _, filenames in os.walk('./databases'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

./databases/indicadores_VE.csv
./databases/indicadores_UY.csv
./databases/indicadores_PE.csv
./databases/indicadores_BR.csv
./databases/indicadores_GF.csv
./databases/indicadores_AR.csv
./databases/indicadores_CO.csv
./databases/indicadores_PY.csv
./databases/indicadores_EC.csv
./databases/indicadores_CL.csv
./databases/indicadores_SR.csv
./databases/indicadores_BO.csv

In [3]:
df_ve = pd.read_csv('./databases/indicadores_VE.csv')
df_ar = pd.read_csv('./databases/indicadores_AR.csv')
df_br = pd.read_csv('./databases/indicadores_BR.csv')
df_cl = pd.read_csv('./databases/indicadores_CL.csv')
df_py = pd.read_csv('./databases/indicadores_PY.csv')

In [17]:
df = pd.concat([df_ve[['year', 'cod_77823']], df_ar['cod_77823'],
               df_br['cod_77823'], df_cl['cod_77823'],
               df_py['cod_77823']
               
               ], axis=1)

In [18]:
df

         year  cod_77823  cod_77823  cod_77823  cod_77823  cod_77823
0        1990        NaN        NaN        NaN        NaN        NaN
1   1990-1995        NaN        NaN        NaN        NaN        NaN
2        1995        NaN        NaN        NaN        NaN        NaN
3   1995-2000        NaN        NaN        NaN        NaN        NaN
4   1999-2001        NaN        NaN        NaN        NaN        NaN
5        2000     4784.0     8315.0     3722.0     5134.0     1338.0
6   2000-2002        NaN        NaN        NaN        NaN        NaN
7   2000-2005        NaN        NaN        NaN        NaN        NaN
8        2001     4927.0     7775.0     3155.0     4626.0     1192.0
9   2001-2003        NaN        NaN        NaN        NaN        NaN
10       2002     3656.0     2919.0     2842.0     4487.0     1148.0
11  2002-2004        NaN        NaN        NaN        NaN        NaN
12       2003     3229.0     3666.0     3063.0     4816.0     1175.0
13  2003-2005        NaN        NaN        NaN        NaN        NaN
14       2004     4271.0     4285.0     3623.0     6214.0     1409.0
15  2004-2006        NaN        NaN        NaN        NaN        NaN
16       2005     5433.0     5125.0     4770.0     7615.0     1507.0
17  2005-2007        NaN        NaN        NaN        NaN        NaN
18  2005-2010        NaN        NaN        NaN        NaN        NaN
19       2006     6736.0     5925.0     5860.0     9485.0     1810.0
20  2006-2008        NaN        NaN        NaN        NaN        NaN
21       2007     8319.0     7249.0     7314.0    10527.0     2312.0
22  2007-2009        NaN        NaN        NaN        NaN        NaN
23       2008    11215.0     9055.0     8788.0    10781.0     3060.0
24  2008-2010        NaN        NaN        NaN        NaN        NaN
25       2009    11523.0     8244.0     8553.0    10243.0     2600.0
26  2009-2011        NaN        NaN        NaN        NaN        NaN
27       2010    13566.0    10346.0    11224.0    12860.0     3228.0
28  2010-2012        NaN        NaN        NaN        NaN        NaN
29  2010-2015        NaN        NaN        NaN        NaN        NaN
30       2011    10742.0    12727.0    13167.0    14706.0     3988.0
31  2011-2013        NaN        NaN        NaN        NaN        NaN
32       2012    12755.0    13812.0    12292.0    15432.0     3856.0
33  2012-2014        NaN        NaN        NaN        NaN        NaN
34       2013    12248.0    14417.0    12217.0    15941.0     4480.0
35  2013-2015        NaN        NaN        NaN        NaN        NaN
36       2014    12099.0    13299.0    12113.0    14671.0     6103.0
37  2014-2016        NaN        NaN        NaN        NaN        NaN
38       2015    11439.0    14971.0     8814.0    13574.0     5407.0
39  2015-2017        NaN        NaN        NaN        NaN        NaN
40  2015-2020        NaN        NaN        NaN        NaN        NaN
41       2016     9664.0    12814.0     8710.0    13754.0     5319.0
42  2016-2018        NaN        NaN        NaN        NaN        NaN
43       2017     8429.0    14628.0     9925.0    14999.0     5681.0
44  2017-2019        NaN        NaN        NaN        NaN        NaN
45       2018     7062.0    11719.0     9001.0    15925.0     5806.0
46       2019     4733.0    10041.0     8755.0    14896.0     5406.0
47       2020        NaN        NaN        NaN        NaN        NaN